// Project fonts
$roboto-font-family = "Roboto, Arial, Helvetica, sans-serif"
$roboto-font-base-path = "../fonts/Roboto/"
$helvetica-font-family = "Helvetica"
$helvetica-font-base-path = "../fonts/Helvetica/"
$fonts-formats = woff2 woff

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-300",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	weight: 300,
	style: normal
)

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-400",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	weight: 400,
	style: normal
)

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-italic",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	style: italic
)

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-500",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	weight: 500,
	style: normal
)

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-700",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	weight: 700,
	style: normal
)

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-900",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	weight: 900,
	style: normal
)

font-face(
    local_name: "Helvetica",
	family: $helvetica-font-family,
	file-name: "HelveticaNeueCyr-Bold",
	base-path: $helvetica-font-base-path,
	formats: $fonts-formats,
	weight: 900,
	style: normal
)

font-face(
    local_name: "Helvetica",
	family: $helvetica-font-family,
	file-name: "HelveticaNeueCyr-Light",
	base-path: $helvetica-font-base-path,
	formats: $fonts-formats,
	weight: 400,
	style: normal
)
